---
import Header from "../components/Header.astro";
import Layoutt from "../layouts/Layoutt.astro";
import Images from "../components/Images.jsx";
import Dogs from "../components/Dogs.jsx";
import Static from "../components/Static.astro";
export const prerender = true;
---

<Layoutt title="GIf">
  <Header />
  <p class="text-animal">Los perros nos esperan fielmente.</p>
  <Images client:load />
  <p class="text-animal">
    Los animales son seres realmente extraordinarios, que nos enseñan
    innumerables valores y el verdadero significado del respeto.
    Lamentablemente, el ser humano no ha sabido respetarlos como se merecen y,
    por ello, muchas especies se han extinguido y muchas otras están al borde de
    la extinción.
  </p>
  <Dogs client:visible />
  <p class="text-animal">
    Cuando yo juego con mi gata, quien sabe si ella no se está divirtiendo
    conmigo mas de lo que yo me estoy divirtiendo con ella.
  </p>
  <Images client:visible />
  <p class="text-animal">
    Cuando yo juego con mi gata, quien sabe si ella no se está divirtiendo
    conmigo mas de lo que yo me estoy divirtiendo con ella.
  </p>
  <Images client:visible />
  <p class="text-animal">
    ¡Si Dios tan solo me diera una clara señal! Como hacer un gran depósito a mi
    nombre en un banco suizo.
  </p>
  <Images client:visible />
  <p class="text-animal">Los perros nos esperan fielmente.</p>
  <Images client:visible />
  <p class="text-animal">
    Los animales son seres realmente extraordinarios, que nos enseñan
    innumerables valores y el verdadero significado del respeto.
    Lamentablemente, el ser humano no ha sabido respetarlos como se merecen y,
    por ello, muchas especies se han extinguido y muchas otras están al borde de
    la extinción.
  </p>
  <Images client:visible />
  <Static />
</Layoutt>
