---
export const prerender = true;
---

<header class="header" id="header">
  <nav>
    <a href="./">Dogs</a>
    <a href="./cats">Cats</a>
    <a href="./memes">Memes</a>
    <a href="./animal-static ">Animals Statics</a>
  </nav>
</header>

<style>
  nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  nav a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  .header {
    padding: 1rem;
    inline-size: 100%;
    background-color: black;
  }
</style>
