---
export const prerender = true;
---

<header class="header" id="header">
  <nav>
    <a href="./">Page1</a>
    <a href="./page2-static">Page2</a>
    <a href="./page3">Page3</a>
    <a href="./page4-static ">Page4</a>
  </nav>
</header>

<style>
  nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  nav a {
    font-size: 2rem;
    color: #5f6c7b;
    text-decoration: none;
  }
  .header {
    padding: 1rem;
    inline-size: 100%;
    background-color: #3da9fc;
  }
  @media screen and (max-width: 541px) {
    nav {
      gap: 1.5rem;
    }
    nav a {
      font-size: 1rem;
    }
  }
</style>
