<header class="header" id="header">
  <nav>
    <a href="./">Dogs</a>
    <a href="./cats">Cats</a>
  </nav>
</header>

<style>
  nav {
    text-align: center;
  }
  nav a {
    padding-inline: 3rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  .header {
    padding: 1rem;
    inline-size: 100%;
    background-color: black;
  }
</style>
