---
import { Image } from "@astrojs/image/components";
export const prerender = true;
---

<section>
  <div class="poema">
    <p>Elegía, de Miguel Hernández</p>
    <p>
      (En Orihuela, su pueblo y el mío, se me ha muerto como del rayo Ramón
      Sijé, con quien tanto quería.) Yo quiero ser llorando el hortelano de la
      tierra que ocupas y estercolas, compañero del alma, tan temprano.
      Alimentando lluvias, caracolas y órganos mi dolor sin instrumento, a las
      desalentadas amapolas daré tu corazón por alimento. Tanto dolor se agrupa
      en mi costado, que por doler me duele hasta el aliento. Un manotazo duro,
      un golpe helado, un hachazo invisible y homicida, un empujón brutal te ha
      derribado. No hay extensión más grande que mi herida, lloro mi desventura
      y sus conjuntos y siento más tu muerte que mi vida. Ando sobre rastrojos
      de difuntos, y sin calor de nadie y sin consuelo voy de mi corazón a mis
      asuntos. Temprano levantó la muerte el vuelo, temprano madrugó la
      madrugada, temprano estás rodando por el suelo. No perdono a la muerte
      enamorada, no perdono a la vida desatenta, no perdono a la tierra ni a la
      nada. En mis manos levanto una tormenta de piedras, rayos y hachas
      estridentes sedienta de catástrofes y hambrienta. Quiero escarbar la
      tierra con los dientes, quiero apartar la tierra parte a parte a
      dentelladas secas y calientes. Quiero minar la tierra hasta encontrarte y
      besarte la noble calavera y desamordazarte y regresarte. Volverás a mi
      huerto y a mi higuera: por los altos andamios de las flores pajareará tu
      alma colmenera de angelicales ceras y labores. Volverás al arrullo de las
      rejas de los enamorados labradores. Alegrarás la sombra de mis cejas, y tu
      sangre se irán a cada lado disputando tu novia y las abejas. Tu corazón,
      ya terciopelo ajado, llama a un campo de almendras espumosas mi avariciosa
      voz de enamorado. A las aladas almas de las rosas del almendro de nata te
      requiero, que tenemos que hablar de muchas cosas, compañero del alma,
      compañero.
    </p>
  </div>
  <div class="containerGift">
    <div class="pelicula">
      <Image
        class="poster"
        src="https://media.istockphoto.com/id/979497302/es/foto/vista-trasera-ni%C3%B1os-corriendo-en-la-lluvia.jpg?s=170667a&w=0&k=20&c=QmB9UU2y3qBCvnkqpAgF0xVp6L0L7G2vpjxq8lcOHPw="
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/02/Captura%20de%20pantalla%202019-02-21%20a%20las%208.06.11.jpg?tf=3840x"
        alt=""
        width={200}
        height={200}
        format={"png"}
        aspectRatio={16 / 9}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://wwwhatsnew.com/wp-content/uploads/2014/06/wisconsin-sunset-at-rock-lake.jpg"
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://fotografodigital.com/wp-content/uploads/2014/10/Pentaprism.jpg"
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
  </div>

  <div class="poema">
    <p>Elegía, de Miguel Hernández</p>
    <p>
      (En Orihuela, su pueblo y el mío, se me ha muerto como del rayo Ramón
      Sijé, con quien tanto quería.) Yo quiero ser llorando el hortelano de la
      tierra que ocupas y estercolas, compañero del alma, tan temprano.
      Alimentando lluvias, caracolas y órganos mi dolor sin instrumento, a las
      desalentadas amapolas daré tu corazón por alimento. Tanto dolor se agrupa
      en mi costado, que por doler me duele hasta el aliento. Un manotazo duro,
      un golpe helado, un hachazo invisible y homicida, un empujón brutal te ha
      derribado. No hay extensión más grande que mi herida, lloro mi desventura
      y sus conjuntos y siento más tu muerte que mi vida. Ando sobre rastrojos
      de difuntos, y sin calor de nadie y sin consuelo voy de mi corazón a mis
      asuntos. Temprano levantó la muerte el vuelo, temprano madrugó la
      madrugada, temprano estás rodando por el suelo. No perdono a la muerte
      enamorada, no perdono a la vida desatenta, no perdono a la tierra ni a la
      nada. En mis manos levanto una tormenta de piedras, rayos y hachas
      estridentes sedienta de catástrofes y hambrienta. Quiero escarbar la
      tierra con los dientes, quiero apartar la tierra parte a parte a
      dentelladas secas y calientes. Quiero minar la tierra hasta encontrarte y
      besarte la noble calavera y desamordazarte y regresarte. Volverás a mi
      huerto y a mi higuera: por los altos andamios de las flores pajareará tu
      alma colmenera de angelicales ceras y labores. Volverás al arrullo de las
      rejas de los enamorados labradores. Alegrarás la sombra de mis cejas, y tu
      sangre se irán a cada lado disputando tu novia y las abejas. Tu corazón,
      ya terciopelo ajado, llama a un campo de almendras espumosas mi avariciosa
      voz de enamorado. A las aladas almas de las rosas del almendro de nata te
      requiero, que tenemos que hablar de muchas cosas, compañero del alma,
      compañero.
    </p>
  </div>
  <div class="containerGift">
    <div class="pelicula">
      <Image
        class="poster"
        src="https://media.istockphoto.com/id/979497302/es/foto/vista-trasera-ni%C3%B1os-corriendo-en-la-lluvia.jpg?s=170667a&w=0&k=20&c=QmB9UU2y3qBCvnkqpAgF0xVp6L0L7G2vpjxq8lcOHPw="
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/02/Captura%20de%20pantalla%202019-02-21%20a%20las%208.06.11.jpg?tf=3840x"
        alt=""
        width={200}
        height={200}
        format={"png"}
        aspectRatio={16 / 9}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://wwwhatsnew.com/wp-content/uploads/2014/06/wisconsin-sunset-at-rock-lake.jpg"
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://fotografodigital.com/wp-content/uploads/2014/10/Pentaprism.jpg"
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
  </div>

  <div class="poema">
    <p>Elegía, de Miguel Hernández</p>
    <p>
      (En Orihuela, su pueblo y el mío, se me ha muerto como del rayo Ramón
      Sijé, con quien tanto quería.) Yo quiero ser llorando el hortelano de la
      tierra que ocupas y estercolas, compañero del alma, tan temprano.
      Alimentando lluvias, caracolas y órganos mi dolor sin instrumento, a las
      desalentadas amapolas daré tu corazón por alimento. Tanto dolor se agrupa
      en mi costado, que por doler me duele hasta el aliento. Un manotazo duro,
      un golpe helado, un hachazo invisible y homicida, un empujón brutal te ha
      derribado. No hay extensión más grande que mi herida, lloro mi desventura
      y sus conjuntos y siento más tu muerte que mi vida. Ando sobre rastrojos
      de difuntos, y sin calor de nadie y sin consuelo voy de mi corazón a mis
      asuntos. Temprano levantó la muerte el vuelo, temprano madrugó la
      madrugada, temprano estás rodando por el suelo. No perdono a la muerte
      enamorada, no perdono a la vida desatenta, no perdono a la tierra ni a la
      nada. En mis manos levanto una tormenta de piedras, rayos y hachas
      estridentes sedienta de catástrofes y hambrienta. Quiero escarbar la
      tierra con los dientes, quiero apartar la tierra parte a parte a
      dentelladas secas y calientes. Quiero minar la tierra hasta encontrarte y
      besarte la noble calavera y desamordazarte y regresarte. Volverás a mi
      huerto y a mi higuera: por los altos andamios de las flores pajareará tu
      alma colmenera de angelicales ceras y labores. Volverás al arrullo de las
      rejas de los enamorados labradores. Alegrarás la sombra de mis cejas, y tu
      sangre se irán a cada lado disputando tu novia y las abejas. Tu corazón,
      ya terciopelo ajado, llama a un campo de almendras espumosas mi avariciosa
      voz de enamorado. A las aladas almas de las rosas del almendro de nata te
      requiero, que tenemos que hablar de muchas cosas, compañero del alma,
      compañero.
    </p>
  </div>
  <div class="containerGift">
    <div class="pelicula">
      <Image
        class="poster"
        src="https://media.istockphoto.com/id/979497302/es/foto/vista-trasera-ni%C3%B1os-corriendo-en-la-lluvia.jpg?s=170667a&w=0&k=20&c=QmB9UU2y3qBCvnkqpAgF0xVp6L0L7G2vpjxq8lcOHPw="
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/02/Captura%20de%20pantalla%202019-02-21%20a%20las%208.06.11.jpg?tf=3840x"
        alt=""
        width={200}
        height={200}
        format={"png"}
        aspectRatio={16 / 9}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://wwwhatsnew.com/wp-content/uploads/2014/06/wisconsin-sunset-at-rock-lake.jpg"
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
    <div class="pelicula">
      <Image
        class="poster"
        src="https://fotografodigital.com/wp-content/uploads/2014/10/Pentaprism.jpg"
        alt=""
        width={200}
        height={200}
        aspectRatio={16 / 9}
        format={"png"}
      />
    </div>
  </div>
</section>
